* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
/* set fontsize to 10px and use rem/em instead. 16px becomes 1.6rem */
html {
    font-size: 10px;
}
body {
    background-color:#fffaeb;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.header{
    width: 100%;
    background-color: #9ed36a;
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    

    
}

.header h1{
    font-size: 3rem;
    display: inline-block;
    margin:0.2rem;
    padding: 0.2rem;
    text-decoration: none;
}
h1 a {
    text-decoration: none;
    color: #252525;
}
/* .header h2{
    display: inline-block;
    flex:2;
} */
.nav {
    content:"";
    /* hiding nav on homepage */
    display: none;

      
  }
  .nav ul {
      position:relative;
      list-style-type: none;
      text-align: center;
      margin:auto;
      display: flex;
      justify-content:space-between;
      padding: 0.2rem;
      margin:0.2rem;
     
      
      
  }
  .nav li {
      display:inline-block;
     
  }
  .nav a {
      font-size: 1.6rem;
      display:block;
      text-decoration: none;
      color:#252525;
      padding:0.2rem 0.6rem;
      margin:0.2rem;
}

.main{
    display:flex;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.image img{
    display: block;
    height: 100%;
    width: 100%;
    min-width: 50%;
    object-fit: cover;
    flex:1;
}
.nav-main{
    margin: 0 0;
    width: 100%;
    min-width: 50%;
    padding: 2 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.nav-main a {
    font-size:10rem;
    text-align: left;
    width: 100%;
    max-width: 50rem;
    text-decoration: none;
    color:#252525;
    padding:0.2rem 0.6rem;
    margin:1.5rem 0;
    background-color: rgb(255, 255, 235);
    border: 0.2rem solid #9ed36a;
}
/* 
.contact-info{
    max-height:0;
    overflow:hidden;
    position:relative;
    color: #252525;
    font-size: 1.4rem;
    transition: max-height 650ms;
}
.footer-link{
    position: fixed;
    right: 1.6rem;
    bottom:1.6rem;
}
.stuff li{
    font-size: 1.6rem;
}
.footer-link:target .contact-info{
    height: 20rem;
    width: 100%;
    background-color: orange;
} */
/* section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width:100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.footer-text{
    background-color:#f8f8f8; 
    border-radius: .05rem;
    margin-bottom:0.3rem;
    padding:0.5rem;
    border: 0.1rem solid #949494;
}
.contact-link{
    font-size: 1.6rem;
    color: #252525;
    text-decoration: none;
    background-color: #f8f8f8;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;}

.contact-info{
    max-height:0rem;
    overflow:hidden;
    position:relative;
    color: #252525;
    font-size: 1.4rem;
    transition: max-height 650ms;
    }
    
.drop-item:target .contact-info{
    max-height: 20rem;
    } */